{% load filters %}
<html>
<head>
<title>Clothesliner Home Page</title>		
<script type="text/javascript">

var d = new Object();
{% for des, sty in styles.items %}
	d[{{des.id}}] = new Array();
	{% for st in sty %}
		d[{{des.id}}].push(new Array("{{st.id}}","{{st.name}}"));
	{% endfor %}
{% endfor %}

function genStyles(sel)
{
	var optionlist = d[sel[sel.selectedIndex].value];
	var z = document.getElementById("styles");
	while(z.length > 0)
	{
	   z.remove(0);
	}
	for (i=0;i<optionlist.length;i++)
	{
		var newOption = document.createElement("OPTION");
		newOption.text = optionlist[i][1];
		newOption.value = optionlist[i][0];
		z.add(newOption, null);
	}
}
</script>
</head>
<body onload=genStyles(document.getElementById("designers"))>
<h1>HOME</h1>
<form action="/results/" method="post" name="selectReferencePant">
	{% csrf_token %}
	<select id="designers" onchange="genStyles(this)">
	{% for item in designers %}
		<option value="{{item.id}}">{{item.name}}</option>
	{% endfor %}
	</select><br />
	<select id="styles"></select><br />
    <input type="text" name="waist" />
    <label for="waist">Waist</label><br />
	<input type="text" name="inseam" />
    <label for="inseam">Inseam</label><br />
	<input type="submit" value="Compare" />
</form>
</body>
</html>